/* Custom Overrides for Naše Rtyně */


/* Logo Sizing Override */
#mainNav .navbar-brand img {
    height: 3rem;
    /* Mobile */
}

/* Navbar Padding Override */
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

@media (min-width: 992px) {
    #mainNav .navbar-brand img {
        height: 6rem;
        /* Desktop default */
    }

    #mainNav.navbar-shrink .navbar-brand img {
        height: 3.5rem;
        /* Desktop scrolled */
    }
}